<mat-card>
  <mat-card-content>
    <div
      *ngIf="loading; else templateElse"
      style="display: flex; align-items: center; height: calc(100dvh - 200px)"
    >
      <mat-spinner style="margin: auto"> Cargando... </mat-spinner>
    </div>
    <ng-template #templateElse>
      <div class="row">
        <div class="col-sm-12 col-md-6 py-4">
          <div class="card tarjeta border-light m-auto">
            <div class="card-header border-0 py-3 bg-transparent">
              <p
                class="text-center text-danger text-b old my-1 h-3"
                style="font-size: 1.4em"
              >
                <strong> TARJETA DE IDENTIFICACION DEL CONDUCTOR </strong>
              </p>
            </div>
            <div class="card-body border-0 h-full">
              <div class="row h-full">
                <div class="col-md-12">
                  <div class="row h-mid">
                    <div class="col-1 h-mid">
                      <div
                        style="display: inline-block; position: relative"
                        class="text-danger"
                      >
                        <div
                          style="
                            transform: rotate(-90deg);
                            position: absolute;
                            top: 90px;
                            left: -60px;
                            width: 150px;
                            font-size: 1.5em;
                          "
                        >
                          <strong>GRATUITA</strong>
                        </div>
                      </div>
                    </div>
                    <div class="col-10 text-center" style="position: relative">
                      <div
                        style="
                          position: absolute;
                          bottom: 0%;
                          left: calc(75% - 200px);
                        "
                      >
                        <img
                          src="../../../../assets/escudo.gif"
                          alt=""
                          style="width: 200px"
                        />
                      </div>
                    </div>
                    <div class="col-1 h-mid">
                      <div
                        style="display: inline-block; position: relative"
                        class="text-danger"
                      >
                        <div
                          style="
                            transform: rotate(-90deg);
                            position: absolute;
                            top: 90px;
                            left: -70px;
                            width: 150px;
                            font-size: 1.5em;
                          "
                        >
                          <strong> Nº&nbsp;&nbsp;009001 </strong>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 h-mid text-center my-2">
                    <p
                      class="m-0"
                      style="
                        font-weight: bold !important;
                        font-size: 1.5;
                        font-family: 'Arial Narrow';
                      "
                    >
                      MINISTERIO DE GOBIERNO
                    </p>
                    <p
                      class="m-0"
                      style="
                        font-weight: bold !important;
                        font-size: 1.5;
                        font-family: 'Arial Narrow';
                      "
                    >
                      VICEMINISTERIO DE SEGURIDAD CIUDADANA
                    </p>
                    <p
                      class="m-0"
                      style="
                        font-weight: bold !important;
                        font-size: 1.5;
                        font-family: 'Arial Narrow';
                      "
                    >
                      ESTADO PLURINACIONAL DE BOLIVIA
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer border-0 bg-transparent">
              <p
                style="
                  font-size: 0.6em;
                  line-height: 1;
                  padding: 0.6em;
                  text-align: center;
                "
              >
                DE ACUERDO AL ART. 134 DEL CNT CONCORDANTE CON EL ART. 228 DEL
                REGLAMENTO DE TRANSITO. EL ORGANISMO OPERATIVO DE TRANSITO
                MEDIANTE LA DIVISION SERVICIOS PÚBLICOS ESTABLECE EL REGISTRO DE
                LOS CONDUCTORES Y MOTORIZADOS
              </p>
              <div
                style="
                  border: 3px solid #9a9c9a;
                  border-radius: 30px;
                  padding: 1em;
                  font-size: 0.6em;
                  font-weight: bold;
                  text-align: center;
                  width: 400px;
                  margin: auto;
                "
              >
                LA FALSIFICACION TOTAL O PARCIAL DE ESTE DOCUMENTO. <br />
                SERÁ SANCIONADA DE ACUERDO A NORMAVITA LEGAL VIGENTE
              </div>
              <br />
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 py-4">
          <div class="card tarjeta border-light m-auto">
            <div class="card-header border-0 pt-3 bg-transparent">
              <p class="text-center" style="text-decoration: underline">
                REGISTRO NACIONAL DE CONDUCTOR DE TRANSPORTE PUBLICO
              </p>
              <p class="text-center my-1 h-3" style="font-size: 1.4em">
                <strong> TARJETA DE IDENTIFICACION DEL CONDUCTOR </strong>
                <br />
                La Paz
              </p>
            </div>
            <div class="card-body border-0 h-full py-0">
              <div class="row h-full">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-3 px-3"></div>
                    <div class="col-6 text-center">
                      <img
                        src="{{ user.fotografia }}"
                        alt=""
                        style="
                          width: 200px;
                          border-radius: 10px;
                          box-shadow: 0px 0px 5px #9a9c9a;
                        "
                      />
                    </div>
                    <div class="col-3 text-center"></div>
                  </div>

                  <div class="col-12 text-center my-2">
                    <p
                      class="m-0 text-uppercase"
                      style="
                        font-weight: bold !important;
                        font-size: 2em;
                        line-height: 1em;
                      "
                    >
                      {{ user.nombres }} {{ user.paterno }} {{ user.materno }}
                    </p>
                  </div>
                  <div class="col-12 text-center py-4">
                    <div class="row">
                      <div class="col-6 text-center">
                        <p
                          style="
                            text-align: center;
                            font-weight: 500 !important;
                            font-size: 1em;
                          "
                        >
                          CATEGORIA
                        </p>
                        <br />
                        <br />
                        <p
                          style="
                            font-size: 7em;
                            text-align: center;
                            font-weight: bold !important;
                          "
                        >
                          {{ user.cat_licencia }}
                        </p>
                      </div>
                      <div class="col-6 text-left">
                        <p
                          style="
                            font-size: 1em;
                            font-weight: 500 !important;
                            line-height: 0.9em;
                            text-align: left;
                          "
                        >
                          NUMERO DE LICENCIA
                        </p>
                        <p
                          style="
                            font-size: 1.5em;
                            text-align: left;
                            font-weight: bold !important;
                          "
                        >
                          {{ user.licencia }}
                        </p>
                        <p
                          style="
                            font-size: 1em;
                            font-weight: 500 !important;
                            text-align: left;
                          "
                        >
                          TIPO DE SANGRE
                        </p>
                        <p
                          style="
                            font-size: 2em;
                            text-align: left;
                            font-weight: bold !important;
                          "
                        >
                          {{ user.tipo_sangre }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer border-0 footer-bg">
              <div class="row">
                <div class="col-6">
                  <div class="d-inline">
                    <img
                      src="../../../../assets/escudo.gif"
                      style="width: 50px"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <img
                    src="../../../../assets/pb.png"
                    style="width: 50px"
                    class="d-inline"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
